
<footer>
    <div class="footer-container">
        <h5 class="footer-title">©"IBlogs" was made with passion by Andriy M. :)</h5>
        <div class="footer-nav">
            <li class="nav-link"><a href="/about">About</a></li>
            <li class="nav-link"><a href="/">IBlogs</a></li>
            <li class="nav-link"><a href="/create">Create</a></li>
        </div>
    </div>
</footer>

<!-- TO-DO; Make this footer shine LOL!!!! -->

</body>
</html>