<%- include("partials/header.ejs") %>

<section id="about">
    <h1 class="main-title">About</h1> 
    <p class="about-content">
        The project is the result of my practice of studying backend development in JavaScript using Node.js Express.js and the EJS templating engine. <br> Thanks for watching!
    </p>  
</section>

<%- include("partials/footer.ejs") %>